
body {
    /*width: 100%;*/
    padding-top: 0;
    /*margin: 0;*/
    padding-bottom: 20px;
    background-color: whitesmoke;
    /*min-height: 80vh;*/
}

/*HEADER CSS*/
header{
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;

}


#accueilHeader{
    background-color: #008080;
    height:100%;
    margin-top: 10px;
    margin-bottom: 10px;
    /*width: 100%;*/
}




.navbar-right{
    margin-right: 30px;
    margin-top:40px;
}

#logo{
    width: 100px;
    margin-left:10px;
    margin-top:20px;
}

#menuLogo{
position: relative;
    top:50px;
display: inline;
    float: none;


}

#slogan{

}
#menuLogo li a{
    font-size: 0.7em;

}

#menuLogo li a i{
    font-size: 1em;
}
#menuLogo a:hover{
    color: dodgerblue;
    text-shadow: 1px 1px 1px #000;

}

.navigbar li {
    display: inline-block;

}
.navigbar ul li {
     display : inline;
     padding : 0.1em;/* Pour espacer les boutons entre eux */

 }
.navigbar li a {
       width:30px;
       height:30px;

       color:white;

   }


#menu_horizontal li a img{
    width:15px;
    height:15px;
    margin-bottom: 35px;
    color:white;

}
/*ID BODY CSS*/

#body{
    width: auto;
    /*position: relative;*/
    margin: 0 auto;
    /*margin-top: 10px;*/
    padding-bottom:100px;
    background-color:whitesmoke;
    overflow: scroll;

}

.navbar-collapse  {
    width: 600px;
    margin: 0 auto;

}

.navbar-collapse ul {
    font-size: 18px;

}

.navbar-collapse ul :hover {
    color: dodgerblue;

}

/*CLASSEMENT CSS PAGE CLASSEMENT*/

table thead tr{
    background-color: #008080;
}
table tr:nth-child(even){
    background-color:white;
}

ul .navbar-nav{
    text-align: center;
}


#slogan{
    margin-top:40px;

    font-size: 25px;
    font-family: "Dancing Script", cursive;
    color: white;
    text-align: center;
}



/*FOOTER CSS*/

footer {
    /*box-sizing: border-box;*/
/*position: absolute;*/
/*height: 100px;*/
/*background-color: #f7f904;*/
    /*width: 100px;*/
    margin-left: 20px;
}



footer p {
    color:white;
}

footer p a{

    margin-left: 20px;
    text-align: center;
    color:dodgerblue;
}

footer .navbar-fixed-bottom {
    text-align: center;
    height: auto;
    background-color: #008080;
}

.reseauSocial {
    /*width: 100%;*/
}

.reseauSocial>p {
    text-align: center;
}


/*NOUVEAU COMPTE CSS*/



*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 0.3em;
}

*[role="form"] h3 {
    margin-left: 5em;
    margin-bottom: 1em;
}

/*LOGIN CSS*/
.wrapper {
    text-align: center;
    color: #008080;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 20px;

}

.form-signin {

    width: 500px;
    padding: 15px 35px ;
    margin: 0 auto;
    background-color:whitesmoke;
    border: none;
}
.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
@include box-sizing(border-box);

}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*  PROFIL CSS*/

#conteneur{

    display: flex;
    justify-content: center;
    background-color:whitesmoke;
    /*width:700px;*/
    /*margin:0 auto;*/
    /*height:800px;*/
    /*margin-bottom: 10px;*/
}

.floatLeft{
    width:300px;

    margin: 0 auto;
    /*margin-bottom: 150px;*/
    background-color: #008080;
    border-radius: 0.3em;
/*padding-right: 10px ;*/
    /*float: left;*/
    /*display: inline-block;*/
}

.flex-item{
    width:400px;
    align-items: center;
    margin: 10px;
    /*margin-bottom: 150px;*/
    padding: 10px;
    text-align: center;
    background-color: #008080;
    border-radius: 0.3em;

    /*float: right;*/
}


.profil h3{
    color: dodgerblue;
    font-weight:bolder ;
    text-align: center
}


#formProfile{

    display: none;
}


#btnModi{


}

h6{
    display: inline;
}

/*css page vue D'ENSEMBLE*/

.pageMargin{

    margin: 10px 10px 10px 10px;
}



/*PAGE STATISTIQUE POUR LE GRAPH*/



.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
    color : black;
}

.arc path {
    stroke: #fff;
}


.divStat{float: right}

/*.slice text {*/
    /*font-size: 16pt;*/
    /*font-family: Arial;*/
/*}*/